th:first-child,
td:first-child {
  width: 100px;
}

th:nth-child(2),
td:nth-child(2) {
  width: 80px;
}

th:nth-child(3),
td:nth-child(3) {
  width: 140px;
}

th:nth-child(4),
td:nth-child(4) {
  width: 80px;
}

.button {
  font-size: 24px;
  padding: 12px 24px;
}

table {
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  padding: 10px;
  border: 1px solid black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: Sans-Serif;
}

.AS,
.AM {
  color: blue;
}

.AR {
  color: red;
}

.ER {
  color: purple;
}

.E2 {
  color: hotpink;
}

.DP {
  color: green;
}

.LD {
  color: orange;
}

.AD {
  color: black;
}
